.header {
    height: 350px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top:35px;
    max-width: 75%;
    background-color: #808080;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 50%;
}

.body {
    height: 500px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    max-width: 75%;
    text-align: justify;
    background-color: #808080;
}

.footer {
    height: 100px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    max-width: 75%;
    text-align: center;
    background-color: #808080;
}